.arrowIcons {
  position: absolute;
  width: 40px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  top: calc(50% - 20px);
  z-index: 1;
  height: 40px;
  font-size: 18px;
}
.nextIcon {
  @extend .arrowIcons;
  right: 15px;
}
.prevIcon {
  @extend .arrowIcons;
  left: 15px;
}