:global {
    $head-font-lg-sizes: (56, 48, 40, 32, 24, 15);
    $head-font-md-sizes: (48, 42, 36, 28, 22, 15);
    $head-font-sm-sizes: (40, 36, 32, 24, 20, 14);
    $head-font-xs-sizes: (32, 30, 28, 20, 18, 14);
    @mixin head-mixin($pos, $fs-size) {
        .header-#{$pos} {
            h1,
            h2,
            h3,
            h4 {
                font-size: $fs-size * 1px;
            }
            [class*='subHead'] {
                font-size: ($fs-size * 0.5) * 1px;
                padding: 10px 0;
                font-weight: normal;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        @each $head-font-size in $head-font-lg-sizes {
            @include head-mixin(index($head-font-lg-sizes, $head-font-size), $head-font-size);
        }
    }
    @media (max-width: $screen-md-max) {
        @each $head-font-size in $head-font-md-sizes {
            @include head-mixin(index($head-font-md-sizes, $head-font-size), $head-font-size);
        }
    }
    @media (max-width: $screen-desk-max) {
        @each $head-font-size in $head-font-sm-sizes {
            @include head-mixin(index($head-font-sm-sizes, $head-font-size), $head-font-size);
        }
    }
    @media (max-width: $screen-mob-max) {
        @each $head-font-size in $head-font-xs-sizes {
            @include head-mixin(index($head-font-xs-sizes, $head-font-size), $head-font-size);
        }
    }
    section[bewakoof-merch-fan-blog] {
        div[class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .btn-blue-blue-white {
        line-height: 35px;
        height: 35px;
        margin-top: 10px;
        border: 0px;
        border-radius: 0px;
        min-width: 120px;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-custom-primary {
        @extend .btn-blue-blue-white;
    }
    .btn-custom-primary-medium {
        @extend .btn-blue-blue-white;
        height: 40px;
        line-height: 34px !important;
    }
    .btn-custom-primary-small {
        @extend .btn-blue-blue-white;
        height: 24px;
        line-height: 24px !important;
    }
    .btn-custom-outline-medium {
        height: 40px;
        line-height: 34px !important;
    }
    [class*='header-'] {
        font-family: HelveticaNeue-Bold;
        position: absolute;
        &.primary-button {
            button {
                @extend .btn-custom-primary-medium;
            }
        }
        button {
            margin-top: 10px;
            /*@extend .align_with_button_medium; */
            border: 1px solid #fff;
        }
        &.primary-outline-button {
            button {
                @extend .btn-custom-outline-medium;
            }
        }
        &.bt-black {
            button {
                background: $pure-black !important;
                color: white !important;
                border: 1px solid $pure-black;
                &:hover {
                    background: #f5f5f5 !important;
                    color: $pure-black !important;
                    border: 1px solid #fdd835;
                }
            }
        }
        &.bt-yellow {
            button {
                background: #fdd835 !important;
                color: black !important;
                border: 1px solid #fdd835 !important;
            }
        }
        &.bt-white {
            button {
                background: rgba(255, 255, 255, 1) !important;
                color: black !important;
                border: 1px solid #fff;
                &:hover {
                    background: #fdd835 !important;
                    color: black !important;
                    border: 1px solid #fdd835;
                }
            }
        }
    }
    @media (max-width: 360px) {}
    @media (max-width: $screen-mob-max) {
        [class*='header-'] {
            &.hide-button button {
                display: none !important;
            }
            &.bt-black-xs {
                button {
                    background: $pure-black !important;
                    color: white !important;
                    border: 1px solid $pure-black;
                }
            }
            &.bt-yellow-xs {
                button {
                    background: $site-yellow-color !important;
                    color: black !important;
                    border: 1px solid $site-yellow-color;
                }
            }
            &.bt-white-xs {
                button {
                    background: $pure-white !important;
                    color: black !important;
                    border: 1px solid $pure-white;
                }
            }
            &.bt-blue-xs {
                button {
                    background: $site-blue-color !important;
                    color: black !important;
                    border: 1px solid $site-blue-color;
                }
            }
        }
    }
}

// global ends here
.emptyFillerDiv {
    height: 20px;
    clear: both;
    background: white;
}

.commonTemplate {
    margin-bottom: 20px;
    position: relative;
}

.homeContainer {
    @media (max-width: $screen-mob-max) {
        padding: 0;
    }
}

.homeMain {
    [class*='col-'] {
        @media (min-width: $screen-desk-min) {
            padding: 0px 10px;
        }
    }
    row {
        margin-left: -10px;
        margin-right: -10px;
    }
    [class*='header-'] {
        font-family: HelveticaNeue-Bold;
        position: absolute;
        .subHead {
            padding: 10px 0;
        }
    }
}

@media (max-width: 360px) {
    .homeMain {
        [class*='header-'] {
            button {
                font-size: 10px;
                min-width: 0;
                height: 30px;
                line-height: 28px;
            }
        }
    }
}

@media (max-width: $screen-mob-max) {
    .homeMain {
        [class*='header-'] {
            &.hide-button button {
                display: none !important;
            }
        }
    }
}

.DownloadWrapper {
    position: fixed;
    padding: 3px 3px 3px 18px;
    width: 100%;
    bottom: 0;
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 500;
    display: table;
    height: 41px;
    .icon {
        padding: 5px;
        padding-bottom: 0px;
        cursor: pointer;
        img{
            height: 28px
        }
    }
    .content{
        padding: 9px 0px;
        cursor: pointer;
        i {
            margin-left: 8px;
            margin-top: 2px;
            font-size: 12px;
        }
    }
    .close{
        padding: 9px 0px;
        i {
            border-left: 1px solid rgba(151,151,151,0.25);
            position: absolute;
            top: 12px;
            right: 7px;
            font-size: 13px;
            color: #6a6a6a;
            font-weight: bold;
            padding: 12px;
            margin: -10px;
        }
    }
}