.label {
    font-size: 18px;
    margin: 30px 30px -10px;
}

.tabSteps {
    list-style: none;
    li {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 18px;
        border-bottom: 1px solid #c8c9cc;
        cursor: pointer;
        @media #{$desktop} {
            text-align: center;
        }
    }
    .ball {
        width: 30px;
        height: 30px;
        margin: 0 7.5px 0 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 14px;
        background: #fff;
        color: #4a4a4a;
        border: 1px solid;
        &.active {
            border-color: #4a90e2;
            background: #4a90e2;
            color: #fff;
        }
        &.one:before {
            content: '\00031';
        }
        &.two:before {
            content: '\00032';
        }
        &.three:before {
            content: '\00033';
        }
        &.complete {
            color: #fff;
            border-color: #b8e986;
            background: #b8e986;
            &:before {
                content: '\02714';
            }
        }
    }
    pre {
        display: inline-flex;
        padding: 3px;
        font-family: montReg;
        height: 30px;
    }
}