.add-new-address-button {
    border: 2px solid #ff6a6a;
    text-align: center;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    margin: 30px auto 50px;
    display: block;
    float: none;
}

@media #{$desktop} {
    .add-new-address-button {
        width: 100%;
        border: 1px solid #ddd;
        height: 145px;
        vertical-align: middle;
        text-align: center;
        padding: 30px;
        margin: 0 auto 50px;
    }
    .checkout-select-address-holder {
        margin: 30px auto 0;
        display: block;
    }
    .checkout-select-address {
        padding: 50px;
        outline: 1px solid #eee;
    }
    .checkout-header-background {
        padding-top: 10px;
    }
}

.commonAddressButton {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    min-width: 120px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    @media #{$phone} {
        height: 36px;
    }
}

.submitButton {
    @extend .commonAddressButton;
    float: right;
    border: 1px solid #ff6a6a;
    background-color: #ff6a6a;
    color: white;
    margin-left: 4px;
}

.cancelButton {
    @extend .commonAddressButton;
    border: 1px solid #ff6a6a;
    background-color: white;
    color: #ff6a6a;
}

.pd-col {
    padding: '0px 15px';
}

@media #{$phone} {
    .addressholder {
        margin-top: 50px;
    }
}

@media #{$phone} {
    .paddingBottom {
        padding-bottom: 10px;
    }
}

.subType {
    float: left;
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}