.header {
    position: fixed;
    height: 80px;
    padding: 20px;
    @media #{$desktop} {
        height: 100px;
        padding: 30px;
    }
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background: white;
    border-bottom: 1px solid #9b9b9b;
}

@media #{$desktop} {
    .logo {
        margin-left: 15px;
    }
}

.logo,
.hamb {
    float: left;
    height: 40px;
    padding: 2.5px 0;
    @media #{$desktop} {
        padding: 0;
    }
}

.menuRight {
    position: absolute;
    right: 0;
    z-index: 102;
    a {
        margin-right: 30px;
        font-size: 16px;
        letter-spacing: 0.4px;
        color: #4a4a4a;
    }
}

.btnTop {
    button {
        margin-top: 10px;
    }
}